.Quote {
  margin-top: 1rem;
  opacity: 0.1;
  background: transparent;
  animation: slideUp 6s ease-in-out 0.3s forwards;
}

.Quote p {
  padding: 10px 0 10px 0.1rem;
  border-radius: 0.25rem;
  font-style: italic;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
