.contactPage {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    background: hsl(210, 36%, 96%);
    min-height: calc(100vh - 5rem - 9rem);
  }
  .contactForm {
    background: #fff;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
    width: 90vw;
    max-width: 35rem;
  }
  .contactForm:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .contactForm h3 {
    padding-top: 1.25rem;
    color: hsl(210, 22%, 49%);
  }
  .formGroup {
    padding: 1rem 1.5rem;
  }
  .formControl {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background:hsl(210, 36%, 96%);
    border-radius: 0.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .formControl::placeholder {
    font-family: "Roboto", sans-serif;
    color: hsl(209, 61%, 16%);
    text-transform: uppercase;
    letter-spacing:0.2rem;
  }
  .submitBtn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius:0.25rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  
  .Error{
    margin-top:5px;
    margin-bottom: 1.25rem;
    background: rgba(255, 148, 148, 0.3);
    border: 2px solid #ff9494;
    border-radius: 0.25rem;
    font-size:14px;
    font-weight:bold;
    color:red;
    width: 100%;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  
  }
  
  .Success{
    margin-top:5px;
    margin-bottom: 1.25rem;
    background: #4bb543;
    border-radius: 0.25rem;
    font-size:14px;
    font-weight:bold;
    color:white;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }