.PostPage {
  margin: 7rem 0;
  padding: 0 0 5rem 0;
  min-height: calc(100vh - 5rem - 9rem);
  box-shadow: 0px 0px 15px 0px rgba(231, 76, 60, 0.4);
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}
.PostPage h1,
.PostPage h2 {
  text-align: center;
}
.PostPage ul {
  margin-top: 2rem;
  display: inline-block;
}
.PostPage h1 {
  margin-bottom: 25px;
}

.PostPage h2 {
  margin-bottom: 20px;
}
.PostPage h3,
.PostPage h4 {
  margin-bottom: 15px;
}
.PostPage ul li {
  background: hsl(212, 33%, 89%);
  color: hsl(210, 22%, 49%);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  text-transform: uppercase;
}
.PostPage blockquote {
  background: hsl(185, 94%, 87%);
  border-radius: 0.25rem;
  padding: 1rem;
  line-height: 2;
  color: #2caeba;
  margin: 2rem 0;
}
.PostPage pre {
  background: #222;
  color: yellow;
  overflow-x: scroll;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
}
.PostContent {
  margin: 2rem 3rem;
}

.PostContent h1 {
  font-weight: bold;
  margin: 0;
}

.PostDetails {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.PostDetails span {
  font-size: small;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 550px) {
  .PostContent {
    margin: 1rem 1.5rem;
  }
}
