.ProjectTemplate {
  margin: 7rem 0;
  padding: 0 0 5rem 0;
  min-height: calc(100vh - 5rem - 9rem);
  box-shadow: 0px 0px 15px 0px rgba(231, 76, 60, 0.4);
  transition: all 0.3s linear;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.ProjectTemplate:hover {
  box-shadow: 0px 0px 15px 5px rgba(å231, 76, 60, 0.6);
  transform: scale(1.02);
}

.ProjectDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.ProjectDetails h3 {
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 2px solid #e74c3c;
}
.ProjectDetails p {
  margin-top: 10px;
  padding: 5px 15px;
}

.ProjectStack {
  padding: 5px 15px;
}

.ProjectStack span {
  display: inline-block;
  background: hsl(212, 33%, 89%);
  color: hsl(210, 22%, 49%);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  margin-top: 0.35rem;
}

.ProjectLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  width: 100%;
  transition: all 0.3s linear;
}

.ProjectLinks:hover {
  transform: scale(1.2);
}

.ProjectIcon {
  display: inline-block;
  margin: 15px;
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 550px) {
  .ProjectLinks {
    justify-content: center;
  }

}


@media screen and (max-width: 550px) {

  .ProjectLinks:hover {
  transform: scale(1.05);
}
}